@model IEnumerable<Library_Management_System.Models.tblCategory>

@{
    ViewBag.Title = "Index";
    int role = Convert.ToInt32(Session["Role"]);
    if (role == 1)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.catName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.catName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.catID }) |
            @Html.ActionLink("Details", "Details", new { id=item.catID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.catID })
        </td>
    </tr>
}

</table>
